* {
    box-sizing: border-box;
}


html {
    scroll-behavior: smooth;
    height: 100%;
    margin: 0;
    width: 100%;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

.notify {
    border-radius: 10px;
    display: inline-block;
    padding: 20px;
    background-color: rgb(56, 151, 56);
    color: white;
    margin-bottom: 15px;
    margin: 10px;
}

.alert {
    border-radius: 10px;
    display: inline-block;
    padding: 20px;
    background-color: #f44336;
    color: white;
    margin-bottom: 15px;
    margin: 10px;
}

.header {
    
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 15px 10px;
}
.header-style {
    color: black;
    text-align: left;
    padding: 12px 20px 12px 20px;
    text-decoration: none;
    font-size: 18px;
    line-height: 40px;
    background-color: #f1f1f1;
    margin-top: 0px;
    min-width: 210px !important;

}

.header-style li {
    list-style-type: none;
}
.header a {
    color: black;
    float: left;
    text-align: center;
    padding: 12px 20px 12px 20px;
    text-decoration: none;
    font-size: 18px;
    line-height: 40px;
    border-radius: 4px;
}

.header a:hover {
    
    float: left;
    color: rgb(78, 78, 78);
}

.header a.logo {
    font-size: 40px;
    font-weight: bold;
    color: #0099FF;
    line-height: 40px;
    
}

.header a.active {
    background-color: dodgerblue;
    color: white;
}




.header-right {
    float: right;
}

.icon {
    display: none;
}



.container {
    display: flex;
}
.main-container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.topnav {
    overflow: hidden;
    background-color: #202124;
    position: relative;
}

.topnav #myLinks {
    display: block;
}



.material-icons {
    position: relative;
    top: 50%;
    left: 25%;
}


/* Footer */

.footer {
    /* flex: 1 0 auto; */
    text-align: center;
    font-size: 12px;
    color: white;
    float: center;
    width: 100%;
    padding: 10px;
    background-color: #7E7E7E;
}

.footer_a {
    color: white;
    text-decoration: none;
}



/* Login */

/* make login */
#form_login {
    border-radius: 10px;
    padding: 30px;
}

/* form input */
#form_login input {
    border-radius: 5px;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#form_login button {
    border-radius: 5px;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.deletealert {
    border-radius: 5px;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#form_login input:hover {
    border: 1px solid rgb(83, 61, 61);
}

#form_login button:hover {
    border: 1px solid rgb(83, 61, 61);
}

#form_login a {
    text-decoration: none;
}

#form_login a:hover {
    color:dodgerblue;
}



form i {
    margin-left: -30px;
    cursor: pointer;
}



/* Later toevoegen: */
ul.breadcrumb {
    padding: 0px 0px;
    list-style: none;
}

ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}

ul.breadcrumb li+li:before {
    padding: 2px;
    color: black;
    content: "/\00a0";
}

ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
} 


/* Table and search */

#myInput {
    background-image: url('/css/searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}

#myTable {
    border-collapse: collapse;
    border-spacing: 0;
    width: calc(100vw - 224px);
    border: 0px solid #ddd;
    font-size: 18px;
}

#myTable th {
    text-transform: capitalize;
}

#myTable th,
#myTable td {
    text-align: left;
    padding: 12px;
}


/* td:nth-child(even) {
    background-color: #251616;
} */

#myTable tr {
    border-bottom: 1px solid #ddd;
}

#myTable tr.header,
#myTable tr:hover {
    background-color: #f1f1f1;
}

.material-icons {
    position: relative;
    top: 50%;
    left: 25%;
}

.i.material-icons:hover {
    background-color: red;
}


/* File upload */
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}


/* die button ding */
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #0099FF;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    text-decoration: none;
}

#myBtn:hover {
    background-color: #1288d6;
}

.middlediv-alert {
    /* set div in middle of screen */
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    padding: 30px;
    border-radius: 10px;
}
.middlediv {
    /* set div in middle of screen */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    padding: 30px;
    border-radius: 10px;
}
.alert-button {
    background-color: #0099FF;
    color: white;
    padding: 16px 20px;
    margin: 8px 8px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    text-decoration: none;
}

.file-button {
    border-radius: 0px 5px 5px 0px;
    padding: 15px 20px;
    display: inline-block;
    border: 0px solid #ccc;
    background-color: #0099FF;
    color: white;
}

.file-button:hover {
    background-color: #1288d6;
}


input[type="file" i] {
    border-radius: 5px 0px 0px 5px;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;

}

input[type=file]::file-selector-button {
    border: 0px solid #6c5ce7;
    color: white;
    padding: .2em .4em;
    border-radius: .2em;
    background-color: #0099FF;
  }

  input[type=file]::file-selector-button:hover {
    background-color: #1288d6;
  }
  

.upload-div p {
    text-align: center;
}

.upload-div-middle {
    /* center everything inside */
    display: flex;
    justify-content: center;
    align-items: center;


    
    

}





.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.middlediv h1 {
    text-align: center;
    color: #0099FF;
}

.middlediv button {
    /* set div in middle of screen */
    background-color: blue;
}


/* Media's */
@media only screen and (max-width: 938px) {
    .container {
        flex-direction: column;
        /* background-color: #a39797; */
    }
    #myLinks {
        display: none;
    }
    .icon {
        display: block;
    }

}

@media screen and (max-width: 940px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }

    .nav_logout {
        float: none;
        display: block;
        text-align: left;
    }
    .header p {
        float: none;
        display: block;
        text-align: left;
    }
    .header-right {
        float: none;
    }
    
}


/* tutorial */
.sidenav {
  height: 100% !important;
  width: 190px;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fbfbfb;
  overflow-x: hidden;
  padding-top: 20px;
}

li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
  }


.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    max-height: 30px;
    max-width: 30px;
  }


.btn {
    border-radius: 10px;
    display: inline-block;
    padding: 15px;
    color: white;
    margin: 5px 10px 20px 10px;
    text-decoration: none;
    
}

.btn:hover {
    background-color: #0000007e !important;

}

